{% extends 'parent.html' %}
{% block title %}
    <title> 所有任务 </title>
{% endblock %}
{% block body %}
    <button class="btn" onclick="my_modal_1.showModal()">新建日程</button>
    <dialog id="my_modal_1" class="modal">
        <div class="card bg-base-100 image-full w-96 shadow-xl">
            <div class="card-body">
                <h2 class="card-title">添加新日程</h2>
                <form method="post" action="/Info/routine/">
                    {% csrf_token %}
                    <div class="modal-box">
                        <div class="input-group">
                            <label for="title">标题:</label>
                            <input type="text" id="title" name="title" required><br>
                            <label for="title">周期:</label>
                            <input type="number" id="mode" name="mode" required><br>
                        </div>
                    </div>
                    <div class="card-actions justify-end">
                        <div class="modal-action">
                            <button class="btn btn-secondary" type="submit">添加</button>
                            <button type="button" class="btn  btn-secondary"
                                    onclick="document.getElementById('my_modal_2').close();">关闭
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </dialog>
    <div class="overflow-x-auto">
        <table class="table px-10">
            <!-- head -->
            <thead>
            <tr>
                <th></th>
                <th>任务</th>
                <th>周期</th>
            </tr>
            </thead>

            <tbody>
            {% for t,i in Info %}
                <tr>
                    <th class="py-8 text-lg border ">{{ i }}</th>
                    <td class="py-8 text-lg border ">{{ t.title }}</td>
                    <td class="py-8 text-lg border "> {{ t.mode }}</td>
                    <td>
                        <button class="btn btn-neutral">删除</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}