{% extends 'parent.html' %}
{% block title %}
    <title> 所有任务 </title>
{% endblock %}
{% block body %}
    <div class="overflow-x-auto">
  <table class="table px-10">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>任务</th>
        <th>创建时间</th>
        <th>是否完成</th>
      </tr>
    </thead>

    <tbody>
    {% for t,i in Info %}
        <tr>
        <th class="py-8 text-lg border ">{{ i }}</th>
        <td class="py-8 text-lg border ">{{ t.title }}</td>
        <td class="py-8 text-lg border ">{{ t.start_time }}</td>
        <td class="py-8 text-lg border "> {{ t.ischecked }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}